{% extends 'base.html.twig' %}
{% import 'inc/modal.macro.twig' as modal %}

{% block title %}
	Profile page of
	{{user.username}}
{% endblock %}

{% block body %}
	<div class='container-fluid'>
		<div class="row my-5">
			<div class="col-5 offset-1 col-md-3 offset-md-1 d-flex justify-content-center align-items-center">
				<div class="profile-pic-container text-center">
					<img src="{{ user.profilePicture }}" class="img-profile">
				</div>
			</div>
			<div class="col-6 col-md-8  mt-5">
				<div class='profile-text-container'>
					<h1>{{ user.username }}</h1>
					<p>Member since
						{{ user.signInDate|date('d/m/Y') }}</p>
					<p>{{ numberOfCharacters }}
						Builds</p>
					<p>
						{% if numberOfComments !=0 %}
							<a href="{{ path('app_commentaries_user', {'userId': app.user.id} ) }}">See my
								{{ numberOfComments }}
								comments</a>
					{% else %}
						</p>
					</p>
					<p>You haven't commented yet
					{% endif %}
				</p>
				{% if app.user %}
				{% if app.user.id == user.id %}
				{{ modal.deleteProfileModal(app.user) }}
					
							{{ modal.uploadProfilePictureModal(app.user) }}
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
							More
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li>
							<a class="dropdown-item" href="{{ path('app_profile_edit', { idUser: app.user.id }) }}" class="">Edit</a>
							</li>
							<li>
							<a class="dropdown-item" href="{{ path('delete_profile_picture', { idUser: app.user.id }) }}">Delete profile picture</a>
							</li>
						</ul>
						</div>

					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

	<div class='profile-showcase-title'>
		<h2>My builds</h2>


	</div>
	<div class="dashboard-cards">
		{% if numberOfCharacters != 0 %}
			{% for character in userCharacters %}


				<a href="{{ path('app_build', {'characterId': character.id}) }}" class="card">
					<div class="card">

						<img src="{{ asset('img/' ~ character.idSubClasses.icon) }}" alt="">

						<div class="card-content">
							<h2>{{ character.name }}</h2>
							<p>Classe :
								{{ character.idSubClasses.name }}</p>
							<p>Race :
								{{ character.idSubRace.name }}</p>
							<p>
								<i class="fa-solid fa-arrow-trend-up"></i>
								{{character.getLikes()}}</p>
							<p>
								{% if character.isIsPublic() %}
									<p>
										<i class="fa-solid fa-globe"></i>
										Public</p>
								{% else %}
									<p>
										<i class="fa-solid fa-lock"></i>
										Private</p>
								{% endif %}
							</p>
						</div>
					</div>
				</a>
			{% endfor %}
		{% else %}
			<p class="mx-5">You haven't created any characters yet</p>
		{% endif %}
	</div>
</div></div>{% endblock %}
