{% extends 'base.html.twig' %}
{% block body %}

	<div class="container login-form">
		<div class="form-container">

			<div class="singup-section" id="singup-section">
				<header id="singup" onclick="closelogin()">S’inscrire</header>

				<form method="POST">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<input type="email" value="{{ last_username }}" placeholder="addrese mail" name="email" id="inputEmail" required>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					<a href="#">Mot de passe oublié ?</a>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn">Se Connecter</button>
				</form>

			</div>

		</div>

	</div>

	<script src='{{ asset('js/login.js') }}'></script>

{% endblock %}
