{% macro navbar() %}

	<div class='mynav-container-container'>
		<nav class='mynav-container'>
			<div class="container-fluid ">
				<div class="row  ">
					<div class="mynav-logo col-1 ">
						<a href="/">
							<img class='logo-BS ps-2  w-75' src="{{ asset('img/logo-transparent-svg.svg') }}" alt="Logo">

						</a>
					</div>
					<div
						class="mynav-research col-6 col-md-4">
						{# <i class="fa-solid fa-search fa-xl"></i> #}
						<form method="get" action="{{ path('app_dashboard') }}">
							<input type="text" class="h-25" name="search" placeholder="Search...">
							<button type="submit" class="search-icon">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>

						</form>

					</div>
					<div class="mynav-list col-1">
						<a href="/">
							{# <i class="fa-solid fa-list fa-xl"></i> #}
							Dashboard
						</a>
					</div>
					{% if  is_granted('ROLE_USER')%}
						<div class="mynav-pencil col-1">
							<a href="{{path('app_builder_create')}}">

								{# <i class="fa-solid fa-pen fa-xl"></i> #}
								Create
							</a>
						</div>
					{% endif %}
					{% if  is_granted('ROLE_ADMIN')%}

						<div class="mynav-users col-1">
							<a href="/user">
								{# <i class="fa-solid fa-users"></i> #}
								Admin
							</a>
						</div>
					{% endif %}
					{% if app.user %}
						<div class="mynav-login col-3 offset-1">
							<a href="{{ path('app_profile', {'idUser': app.user.id}) }}" class="mx-5 ">
								{% if app.user.profilePicture %}
									<img src="{{ app.user.profilePicture }}" alt="Profile Picture" class="user-profile-picture">
								{% else %}
									<i class="fa-regular fa-user fa-xl"></i>
								{% endif %}
								{{ app.user.username }}
							</a>
							<a href="{{ path('app_logout') }}" class="">
								
									Logout
								
							</a>
						</div>
					{% else %}
						<div class="mynav-login col-3 offset-2 d-flex justify-content-end">
							<a href="{{ path('app_login') }}">
								<p>
									<i class="fa-regular fa-user fa-xl"></i>
									Login
								</p>
							</a>
							<a class="ps-4" href="{{ path('app_register') }}">
								<p>
									Register
								</p>
							</a>
						</div>
					{% endif %}
				</nav>
			</div>
		</div>
	</div>
	<div class='mynav-container-container-mobile container-fluid'>

		<nav class='mynav-container-mobile row'>


			<div class="mynav-list-mobile col-4">
				<a href="{{ path('app_dashboard') }}">

					<i class="fa-solid fa-list fa-xl"></i>
				</a>
			</div>
			<div class="mynav-pencil-mobile col-4">
				<a href="{{ path('app_builder_create') }}">

					<i class="fa-solid fa-pen fa-xl"></i>
				</a>
			</div>
			<div class="mynav-login-mobile col-4">
				{% if app.user %}
					<a href="{{ path('app_profile', {'idUser': app.user.id}) }}">

					{% else %}
						<a href="{{ path('app_login') }}">
						{% endif %}
						<i class="fa-regular fa-user fa-xl"></i>
					</a>

				</div>
			</nav>
		</div>
	{% endmacro %}
