{% extends 'base.html.twig' %}

{% block title %}Comments
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center my-5">
	<section class="comments-section">
		<h2>Flaged comments</h2>

		<!-- Afficher les commentaires existants -->
		<div class="existing-comments">
			{% if commentaries is not empty %}
				<table class="comment-table">
					<thead>
						<tr>
							<th>Comment</th>
							<th>Author</th>
							<th>Posted at</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for commentary in commentaries %}
							<tr>
								<td>{{ commentary.text }}</td>
								<td>{{ commentary.author.username }}</td>
								<td>{{ commentary.createdAt|date('d/m/Y') }}</td>

								<td>
									<a href="{{ path('app_commentary_delete', {'idCommentary': commentary.id}) }}" class="mybtn-delete">Supprimer</a>

									<a href="{{ path('app_commentary_unflaged', {'idCommentary': commentary.id}) }}" class="mybtn">Annuler le signalement</a>

								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>No comments have been flaged.</p>

			{% endif %}
		</div>
		<h2> Insulting comments</h2>
		<div class="existing-comments">
			{% if commentariesRegex is not empty %}
				<table class="comment-table">
					<thead>
						<tr>
							<th>Comment</th>
							<th>Author</th>
							<th>Posted at</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for commentary in commentariesRegex %}
							<tr>
								<td>{{ commentary.text }}</td>
								<td>{{ commentary.author.username }}</td>
								<td>{{ commentary.createdAt|date('d/m/Y') }}</td>

								<td>
									<a href="{{ path('app_commentary_delete', {'idCommentary': commentary.id}) }}" class="mybtn-delete">Delete</a>

								</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>No comments have been flaged.</p>

			{% endif %}
		</div>
		
	</section>
	</div>
{% endblock %}
