{% extends 'base.html.twig' %}

{% block title %}Builder
{% endblock %}

{% block body %}
	<div class="myform-container">
		<div class="myform">
			<button class="accordion first-section-builder">Classes</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for class in classes %}
						<label class="container-checkbox">{{ class.name }}
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					{% endfor %}
				</div>
			</div>

			<button class="accordion">Sous-classes</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for subClass in subClasses %}
						<label class="container-checkbox">{{ subClass.name }}
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					{% endfor %}
				</div>
			</div>

			<button class="accordion">Races</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for r in races %}
						<label class="container-checkbox">{{ r.name }}
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

			<button class="accordion">Sous-races</button>
			<div class="panel last-section">
				<div class="form-group-panel">
					{% for subRace in subRaces %}
						<label class="container-checkbox">{{ subRace.name }}
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<script src='{{ asset('js/builder.js') }}'></script>

{% endblock %}
