{% import 'macros/navbar.html.twig' as navbar %}
{% import 'macros/footer.html.twig' as footer %}
{% import 'inc/toast.macro.twig' as toast %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'> <text y='1.2em' font-size='120'>⚫️</text><text y='1.3em' x='0.2em' font-size='90' fill='%23fff'>BS</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{{ navbar.navbar() }}
		{% block body %}{% endblock %}
		{% block footer %}
			{{ footer.footer() }}
		{% endblock %}

		<div class="container">
			<div class="toast-container position-absolute bottom-0 end-0 m-5 p-3">

				{% for flash in app.flashes('notice') %}
					{{ toast.toast('primary', flash) }}
				{% endfor %}
				{% for flash in app.flashes('error') %}
					{{ toast.toast('danger', flash) }}
				{% endfor %}
				{% for flash in app.flashes('warning') %}
					{{ toast.toast('warning', flash) }}
				{% endfor %}
				{% for flash in app.flashes('success') %}
					{{ toast.toast('success', flash) }}
				{% endfor %}

			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		{# <script src="main.js"></script> #}
		<script>
			document.addEventListener('DOMContentLoaded', function () { // Initialise le toast
var toast = new bootstrap.Toast(document.querySelector('.toast'));

// Affiche le toast immédiatement
toast.show();
});
		</script>

	</body>
</html>
