{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

	<div class="container-dashboard">
		<div class="dashboard-filter">

			<div class="container-fluid">
				<div class="row">

					<div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

						<form method="get" action="{{ path('app_dashboard') }}" class="d-flex justify-content-center align-items-center ">
							<div class="me-5">
								<label for="classFilter">Search by classes :</label>
								<select name="classFilter" id="classFilter">
									<option value="">All classes</option>
									{% for classe in classes %}
										<option value="{{ classe.id }}" {% if classe.id == classFilter %} selected {% endif %}>{{ classe.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="">

								<label for="raceFilter">Search by races :</label>
								<select name="raceFilter" id="raceFilter">
									<option value="">All races</option>
									{% for race in races %}
										<option value="{{ race.id }}" {% if race.id == raceFilter %} selected {% endif %}>{{ race.name }}</option>
									{% endfor %}
								</select>

								<button type="submit" class="search-icon">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>

							</div>

						</form>

					</div>

					<div class="col-6 col-md-3 d-flex align-items-center">

						<form method="get" action="{{ path('app_dashboard') }}">
							<input type="checkbox" id="mostLiked" name="mostLiked" value="1">
							<label for="mostLiked">Trending</label>
							<button type="submit" class="search-icon">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</form>
					</div>

					{% if is_granted( 'ROLE_ADMIN' ) %}
						<div class="col-6 col-md-3 d-flex align-items-center">

							<form method="get" action="{{ path('app_dashboard') }}">
								<input type="checkbox" id="allCharacters" name="allCharacters" value="1">
								<label for="allCharacters">See All Characters</label>
								<button type="submit" class="search-icon">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>
							</form>
						</div>
					{% endif %}


				</div>
			</div>
		</div>

		<div class="pagination-container">
			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>

		</div>


		{# <div class="dashboard-cards"> #}
		<div class="container d-flex justify-content-center align-items-center flex-wrap">

			{% if pagination.items != null %}
				{% for character in pagination.items %}


					<a href="{{ path('app_build', {'characterId': character.id}) }}" class="card col-4">
						<div class="card">

							<img src="{{ asset('img/' ~ character.idSubClasses.icon) }}" alt="">

							<div class="card-content">
								<h2 title="{{ character.name }}">{{ character.name|length > 8 ? character.name | slice(0,8) ~ '...':character.name }}</h2>
								<p>Class :
									{{ character.idSubClasses.name }}</p>
								<p>Race :
									{{ character.idSubRace.name }}</p>
								<p>
									<i class="fa-solid fa-arrow-trend-up"></i>
									{{character.getLikes()}}</p>

							</div>
						</div>
					</a>
				{% endfor %}
			{% else %}
				<div class="card border-5 ">
					<h2>Can't find what you're looking for?</h2>
					<h5>Create a character now!</h5>
					<a href="{{ path('app_builder_create') }}" class="btn btn-warning m-5">Create a new character</a>


				</div>
			{% endif %}

		</div>

	</div>
{% endblock %}
