{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

	<div class="container-dashboard">
		<div class="dashboard-filter">
			<form-check></form-check>
		</div>
		{{dump(pagination.items)}}
		<div class="dashboard-cards">
			{% for character in pagination.items %}
				<a
					href="{{ path('app_build', {'characterId': character.id}) }}" class="card">
					{# <div class="card"> #}
					<img src="{{ character.picture }}" alt="{{ character.name }}">
					<div class="card-content">
						<h2>{{ character.name }}</h2>
						<p>Niveau:
							{{ character.level }}</p>
						<p>Sorts:
							{{ character.spells|join(', ') }}</p>
					</div>
					{# </div> #}
				</a>
			{% endfor %}
		</div>
		<div class="pagination">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>


{% endblock %}
