{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

	<div class="container-dashboard">
		<div class="dashboard-filter">

			<div class="container-fluid">
				<div class="row">

					<form method="get" action="{{ path('app_dashboard') }}" class="d-flex ">
						<div class="col-3">
							<label for="classFilter">Search by classes :</label>
							<select name="classFilter" id="classFilter">
								<option value="">All classes</option>
								{% for classe in classes %}
									<option value="{{ classe.id }}" {% if classe.id == classFilter %} selected {% endif %}>{{ classe.name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-3">
							<label for="raceFilter">Search by races :</label>
							<select name="raceFilter" id="raceFilter">
								<option value="">All races</option>
								{% for race in races %}
									<option value="{{ race.id }}" {% if race.id == raceFilter %} selected {% endif %}>{{ race.name }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit">Search</button>
					</form>


					<div class="col-3">
						<form method="get" action="{{ path('app_dashboard') }}">
							<input type="checkbox" id="mostLiked" name="mostLiked" value="1">
							<label for="mostLiked">Trending</label>
							<button type="submit">search</button>
						</form>
					</div>

					{% if is_granted( 'ROLE_ADMIN' ) %}
						<div class="col-3">
							<form method="get" action="{{ path('app_dashboard') }}">
								<input type="checkbox" id="allCharacters" name="allCharacters" value="1">
								<label for="allCharacters">See All Characters</label>
								<button type="submit">search</button>
							</form>
						</div>
					{% endif %}


				</div>
			</div>
		</div>

		<div class="pagination-container">
			<div class="pagination">
				{{ knp_pagination_render(pagination) }}
			</div>

		</div>


		<div class="dashboard-cards">
			{% for character in pagination.items %}


				<a href="{{ path('app_build', {'characterId': character.id}) }}" class="card">
					<div class="card">

						<img src="{{ asset('img/' ~ character.idSubClasses.icon) }}" alt="">

						<div class="card-content">
							<h2>{{ character.name }}</h2>
							<p>Class :
								{{ character.idSubClasses.name }}</p>
							<p>Race :
								{{ character.idSubRace.name }}</p>
							<p>
								<i class="fa-solid fa-arrow-trend-up"></i>
								{{character.getLikes()}}</p>

						</div>
					</div>
				</a>
			{% endfor %}
		</div>

	</div>
{% endblock %}
