{% extends 'base.html.twig' %}
{% import 'inc/modal.macro.twig' as modal %}


{% block title %}Admin utilisateurs!{% endblock %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{{modal.createUserModal(createForm)}}

		<div class="count">
			Nombre total :
			{{ users.getTotalItemCount }}
		</div>

		<table
			class="table">

			{# {{ dump(users) }} #}

			<thead>
				<tr>
					<th scope="col">#</th>
                    <th {% if users.isSorted('u.username') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(users, "Username", 'u.username') }}
					</th>
					{# <th {% if users.isSorted('u.email') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(users, "Email", 'u.email') }}
					</th>
					<th {% if users.isSorted('u.roles') %} class="sorted" {% endif %}>
						{{ knp_pagination_sortable(users, "roles", 'u.roles') }}
					</th> #}

					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for u in users %}
					<tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
						<td>{{u.email}}</td>
						<td>
							{{ modal.editRolesModal(u) }}
							
						</td>
						<td>
							{% if(app.user != u) %}
                 <a href="{{ path('app_user_edit', { id: u.id }) }}" class="btn btn-warning">Modifier</a>
								{{ modal.deleteUserModal(u) }}
								{# <a href="{{ path('app_user_reset_pwd',{id: u.id}) }}" class="btn btn-primary">Reset Mot de passe</a> #}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		<div class="navigation">
			{{ knp_pagination_render(users) }}
		</div>

	</div>

{% endblock %}
